body {
	font: 18px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #2d2d2d;
	background-color: #fff;
	font-weight: 200;
}

body > #container {
	width: 960px;
	margin: 0 auto;
}

a:link,
a:active {
	color: #006892;
}

a:visited {
	color: #5e99bb;
}

a:hover,
a:focus {
	text-decoration: none;
}

/* @group Overview */

section#overview {
	width: 620px;
	margin-left: 170px;
}

	section#overview > h1 {
		text-align: center;
		font-size: 63px;
		line-height: 1;
		border-bottom: 1px solid #a9a9a9;
		font-weight: 600;
	}
	
	
		section#overview > h1 > span {
			display: inline-block;
			position: relative;
			top: 25px;
			background-color: #fff;
			padding: 0 0.25em;
			margin-top: -50px;
		}
		
		section#overview > h1 > small {
			display: block;
			font-size: 36px;
			font-weight: normal;
			color: #a9a9a9;
			line-height: 0;
		}
	
	section#overview > p {
		font-size: 26px;
		text-align: center;
		font-weight: 200;
		line-height: 1.2;
	}
	
	section#overview a[href="#coding"] {
		color: #53b057;
	}
	
	section#overview a[href="#writing"] {
		color: #00ace2;
	}
	
	section#overview a[href="#teaching"] {
		color: #ae3825;
	}

/* @end */


/* @group Content */

section.content {
	margin-top: 108px;
}

section.content > p,
section.content > ul {
	margin: 18px 170px;
}

section.content > h2 {
	margin: 54px 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 1px solid #a9a9a9;
	position: relative;
}

	section.content > h2 > span {
		background-color: #fff;
		display: inline-block;
		position: relative;
		top: 14px;
		padding: 0 9px 0 0;
	}
	
	section.content#coding > h2 {
		color: #53b057;
		border-color: #53b057;
	}
	
	section.content#writing > h2 {
		color: #00ace2;
		border-color: #00ace2;
	}
	
	section.content#teaching > h2 {
		color: #ae3825;
		border-color: #ae3825;
	}



section.content > h3 {
	font-weight: 300;
	margin: 108px 170px 27px 170px;
	font-size: 36px;
	text-align: center;
	line-height: 1.2;
}

section.content > h2 + h3 {
	margin-top: 0;
}

section.content > img {
	width: 960px;
	border-radius: 20px;
	-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

section.content > ul.publications {
	padding: 0;
	list-style: none;
}

	section.content > ul.publications li {
		margin-bottom: 18px;
		padding-left: 36px;
		text-indent: -36px;
	}

/* @end */
