body {
	background-color: #7b9199;
	color: white;
}

#overview {
	margin-top: 200px;
}

#overview h1 {
	font-size: 50px;
	font-weight: normal;
	color: #f9a729;
}

a[href="#condng"] {
	color: #fff100;
}

a[href="#writing"] {
	color: #ed2d1c;
}

a[href="#teaching"] {
	color: #43c5dd;
}

