$break-small: 768px; 
$break-large: 992px; 

$column-width: 130px;
$gutter-width: 30px;

$width-small: (($column-width * 4) + ($gutter-width * 4));
$width-large: (($column-width * 6) + ($gutter-width * 6));
$margin-large: ($column-width + $gutter-width);

$font-stack: "Gill Sans";

$color-dark: #556270;
$color-lightblue: #4ECDC4;
$color-green: #C7F464;
$color-pink: #FF6B6B;
$color-red: #C44D58;


$color-link:  darken($color-lightblue, 20%);
$color-linkvisited: lighten($color-link, 10%);


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin scale($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: scale($factor);
	-o-transform: scale($factor);
	transform: scale($factor);
}

@mixin transition($property, $time, $function) {
	-moz-transition: $property $time $function;
	-webkit-transition: $property $time $function;
	-o-transition: opacity $property $time $function;
	transition: opacity $property $time $function;
}

@mixin box-shadow($right, $bottom, $blur, $colour) {
	-moz-box-shadow: $right $bottom $blur $colour;
	-webkit-box-shadow: $right $bottom $blur $colour;
	box-shadow: opacity $right $bottom $blur $colour;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-jmx6ps');
	src:url('../../fonts/icomoon.eot?#iefix-jmx6ps') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-jmx6ps') format('woff'),
		url('../../fonts/icomoon.ttf?-jmx6ps') format('truetype'),
		url('../../fonts/icomoon.svg?-jmx6ps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 18px/1.5 $font-stack;
	color: $color-dark;
	background-color: #fff;
	font-weight: 200;
	padding: 20px;

	@media screen and (min-width: $break-small) {
		padding-top: 0;
		font-size: 20px;
	}

	a {
		&:link,
		&:active {
			color: $color-link;
		}

		&:visited {
			color: $color-linkvisited;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}  
	}

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

section {
	clear: both;
	margin: 0 auto;

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		width: $width-small;
	}

	@media screen and (min-width: $break-large) {
		width: $width-large;
	}
}

section#overview {
	margin-bottom: $gutter-width * 3;

	h1 {
		font-size: 45px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -2px;
		text-transform: uppercase;
		margin-bottom: $gutter-width;
		margin-top: $gutter-width;
		margin-left: $gutter-width / 2;
		color: darken($color-dark, 10%);

		span {
	        color: lighten($color-dark, 20%);
	        font-size: 30px;
	        font-weight: normal;
	        text-transform: none;
	     	display: block;
	    }
	}

	p {
		font-size: 20px;
		margin-left: $gutter-width / 2;
		color: $color-dark;
	}

	p:before { 
		font-size: 1em;
		content: "▮ ";
		color: $color-red;
	}

	@media screen and (min-width: $break-small) {
		h1 {
			width: ($column-width * 4 + $gutter-width * 3);
			font-size: 100px;
			letter-spacing: -3px;

			span {
				font-size: 35px;
        		letter-spacing: -1px;
			}
		}

		p {
			width: ($column-width * 4 + $gutter-width * 3);
			font-size: 22px;
			line-height: 1.2;
		}
	}
}

div#socialmedia {
	margin-bottom: ($gutter-width * 3) + 23px;
	margin-left: $gutter-width / 2;

	@media screen and (min-width: $break-small) {
		width: ($column-width * 4 + $gutter-width * 3);
	}

	div.media-item {
		display: inline-block;
		position: relative;
		margin-right: $gutter-width / 5;
		width: 32px;
		text-align: center;
		background-color: #fff;

		a:link,
		a:visited {
			background: #fff no-repeat 50% 50%;
			height: 32px;
			width: 32px;
			display: block;
			overflow: hidden;
			margin: 0;
			color: $color-dark;
			-webkit-transition: color 0.5s;
    		transition: color 0.3s;
    		text-decoration: none;
		}

		a:hover,
		a:active,
		a:focus {
			color: lighten($color-dark, 20%);
		}

		[class^="icon-"], [class*=" icon-"] {
			font-size: 32px;
			// padding: ($gutter-width/2);
		}

		.icon-twitter:before {
			content: "\e600";
		}
		.icon-mail:before {
			content: "\e601";
		}
		.icon-github:before {
			content: "\e602";
		}
	}
}

section.content {
	margin-bottom: $gutter-width * 3;

	h2 {
		position: relative;
		z-index: 10000;
		font-size: 50px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0 ($gutter-width / 2) ($gutter-width / 2) ($gutter-width / 2);
		padding: 0;
		background-color: $color-red;
		height: 10px;
		@include border-radius(5px);
		
		color: darken($color-dark, 10%);
		
		span {
			display: inline-block;
			position: relative;
			top: -53px;
		}
	}

	h3 {
		line-height: 1;
		margin: 0;
		font-weight: 300;
		font-size: 35px;
	}
}

section.content#news {
	.current {
		width: ($column-width * 4 + $gutter-width * 3);
		margin: 0 $column-width ($gutter-width * 2) ($gutter-width / 2);

		a.excerpt-link {
			font-size: 0.9em;
			text-decoration: none;
			padding-left: 0.5em;
		}

		a.excerpt-link:hover,
		a.excerpt-link:focus {
			text-decoration: underline;
		}

		.icon-hyperlink:before {
			font-size: 0.8em;
			content: "\e603";
		}
	}

	time {
		margin: 0;
		color: lighten($color-dark, 20%);
		display: block;
	}

	a {
		text-decoration: none;
		color: $color-dark;

		&:hover,
		&:focus {
			color: $color-link;
		}
	}

	ul {
		-moz-column-count: 3;
		-moz-column-gap: $gutter-width;
		-webkit-column-count: 3;
		-webkit-column-gap: $gutter-width;
		column-count: 3;
		column-gap: $gutter-width;

		padding: 0 ($gutter-width/2);
		margin: 0 0 ($gutter-width * 2) 0;

		li {
			padding: 0;
			margin: 0 0 ($gutter-width/2) 0;
			list-style: none;
			line-height: 1.1;
			display:inline-block;

			time {
				font-size: 0.9em;
			}
		}
	}

	div.more {
		clear: both;
		text-align: center;
		border: 0;

		a {
			display: inline-block;
			background-color: $color-link;
			color: #fff;
			text-decoration: none;
			padding: 10px 15px;
			@include border-radius(5px);
			@include transition(background-color, 0.3s, ease);
		}

		a:hover,
		a:focus {
			background-color: $color-linkvisited;
		}
	}
}

section#projects {
	div.item {
		position: relative;
		width: $column-width * 2 + $gutter-width;
		height: 250px;
		float: left;
		margin: ($gutter-width / 2);

		@include border-radius(5px);
		@include transition(all, 0.3s, ease);

		&.current {
			width: $column-width * 4 + $gutter-width * 3;
		}

		&::after {
			content: "";
			background: no-repeat 50% 50%;
			opacity: 0.7;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
			@include border-radius(5px);

			@include transition(opacity, 0.3s, ease);
		}

		&:hover {
			@include scale(1.01);
			@include box-shadow(2px, 2px, 10px, rgba(0, 0, 0, 0.5));
		}

		&:hover::after {
			opacity: 1;			
		}

		&#osmatrix::after {
			background-image: url(../img/osmatrix.png);
		}

		&#openrouteservice::after {
			background-image: url(../img/openrouteservice.png);
		}

		&#lightmap::after {
			background-image: url(../img/lightmap.png);
		}

		&#wheredoyougo::after {
			background-image: url(../img/wheredoyougo.png);
		}

		a {
			display: block;
			height: 180px;
		}

		h3 {
			position: absolute;
			bottom: $gutter-width / 2;
			left:  $gutter-width / 2;;
			text-shadow: 0 0 5px darken(#fff, 20%);
		}

		&#lightmap {
			h3 {
				color: #fff;
				text-shadow: 0 0 5px lighten($color-dark, 20%);
			}
		}
	}
}

footer {
	clear: both;
	margin: $gutter-width * 9 auto 0 auto;
	padding: ($gutter-width / 2) 0;
	color: lighten($color-dark, 20%);
	font-size: 14px;
	text-align: right;
	border-top: 1px solid lighten($color-dark, 20%);

	@media screen and (min-width: $break-small) and (max-width: $break-large) {
		width: $width-small;
	}

	@media screen and (min-width: $break-large) {
		width: $width-large;
	}

	p {
		margin: 0;
	}
}
