body {
	font: 18px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #2d2d2d;
	background-color: #fff;
	font-weight: 200;
}

body > #container {
	width: 960px;
	margin: 0 auto;
}

a:link,
a:active {
	color: #006892;
}

a:visited {
	color: #5e99bb;
}

a:hover,
a:focus {
	text-decoration: none;
}

/* @group Overview */

section#overview {
	margin: -25px 10px 126px 10px;
}

	section#overview > h1 {
		text-align: center;
		font-size: 76px;
		line-height: 1;
		border-bottom: 1px solid #a9a9a9;
		font-weight: 900;
		position: relative;
		margin: 0 0 54px 0;
		letter-spacing: -4px;
		text-transform: uppercase;
	}

    section#overview > h1 > span {
        color: #a9a9a9;
    }
	
	section#overview > img {
		float: left;
		border-radius: 110px;
		margin-left: 80px;
	}
	
	section#overview > p {
		font-size: 26px;
		font-weight: 200;
		line-height: 1.2;
		margin-left: 320px;
		margin-right: 80px;
	}
	
	section#overview a[href="#coding"] {
		color: #53b057;
	}
	
	section#overview a[href="#writing"] {
		color: #00ace2;
	}
	
	section#overview a[href="#teaching"] {
		color: #ae3825;
	}

/* @end */


/* @group Content */

section.content {
	margin-top: 108px;
}

section.content > p,
section.content > ul,
section.content > article > p {
	margin: 18px 170px;
}

section.content > h2 {
	margin: 54px 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 1px solid #a9a9a9;
	position: relative;
}

	section.content > h2 > span {
		background-color: #fff;
		display: inline-block;
		position: relative;
		top: 14px;
		padding: 0 9px 0 0;
	}
	
	section.content#coding > h2 {
		color: #53b057;
		border-color: #53b057;
	}
	
	section.content#writing > h2 {
		color: #00ace2;
		border-color: #00ace2;
	}
	
	section.content#teaching > h2 {
		color: #ae3825;
		border-color: #ae3825;
	}



section.content > h3,
section.content > article > h3 {
	font-weight: 300;
	margin: 108px 170px 27px 170px;
	font-size: 36px;
	text-align: center;
	line-height: 1.2;
}

section.content > h2 + h3 {
	margin-top: 0;
}

section.content > img {
	width: 960px;
	border-radius: 20px;
	-webkit-box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

section.content > ul.publications {
	padding: 0;
	list-style: none;
}

	section.content > ul.publications li {
		margin-bottom: 18px;
		padding-left: 36px;
		text-indent: -36px	;
	}
	
		section.content > ul.publications li span.autoren {
			font-variant: small-caps;
		}
		
section#contact > h2 {
	text-align: center;
}

section#contact > h2 > span {
	padding-left: 9px;
}
		
section.content > div#hcard-Oliver-Roick {
	margin-left: 170px;
	width: 460px;
	float: left;
}

section.content > div#socialmedia {
	padding-top: 108px;
	text-align: center;
}

.vcard .tel .type:after {
	content: ": ";
}
	#socialmedia div.media-item {
		display: inline-block;
	}

		#socialmedia div.media-item a:link {
			background: #fff no-repeat 50% 50%;
			height: 32px;
			width: 32px;
			display: block;
			text-indent: -9999em;
			margin: 0 5px;
		}
		
		#socialmedia div.media-item#mail a {
			background-image: url(../img/mail4.svg);
		}
		
		#socialmedia div.media-item#twitter a {
			background-image: url(../img/twitter3.svg);
		}
		
		#socialmedia div.media-item#github a {
			background-image: url(../img/github3.svg);
		}

section#news > article {
	margin-top: 108px;
}

section#news > article > h3 {
	margin-top: 9px;
}

section#news > article > time {
	display: block;
	text-align: center;
	color: #a9a9a9;
}

section#news > h2 + article {
	margin-top: 0;
}

/* @end */


footer {
	clear: both;
	margin-top: 108px;
	border-top: 1px solid #a9a9a9;
	color: #a9a9a9;
	font-size: 14px;
	text-align: right;
	float: left;
	width: 960px;
}
