@import 'syntax';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$break-small: 768px; 
$break-large: 992px; 

$column-width: 130px;
$gutter-width: 30px;

$width-small: (($column-width * 4) + ($gutter-width * 4));
$width-large: (($column-width * 6) + ($gutter-width * 6));
$margin-large: ($column-width + $gutter-width);

$font-stack: 'Open Sans', sans-serif;

$color-dark: #6C7A89;
$color-blue: #2574A9;
$color-green: #1e824c;
$color-red: #cf000f;

$color-link: $color-blue;
$color-linkvisited: lighten($color-blue, 10%);

@mixin clear-float() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin scale($factor) {
	-webkit-transform: scale($factor);
	-moz-transform: scale($factor);
	-o-transform: scale($factor);
	transform: scale($factor);
}

@mixin transition($property, $time, $function) {
	-moz-transition: $property $time $function;
	-webkit-transition: $property $time $function;
	-o-transition: opacity $property $time $function;
	transition: opacity $property $time $function;
}

@mixin box-shadow($right, $bottom, $blur, $colour) {
	-moz-box-shadow: $right $bottom $blur $colour;
	-webkit-box-shadow: $right $bottom $blur $colour;
	box-shadow: opacity $right $bottom $blur $colour;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-jmx6ps');
	src:url('../../fonts/icomoon.eot?#iefix-jmx6ps') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-jmx6ps') format('woff'),
		url('../../fonts/icomoon.ttf?-jmx6ps') format('truetype'),
		url('../../fonts/icomoon.svg?-jmx6ps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 18px/1.5 $font-stack;
	color: $color-dark;
	background-color: #fff;
	font-weight: 400;
	padding: 0;
	margin: 0;

	*, *:after, *:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	@media screen and (min-width: $break-small) {
		padding-top: 0;
		font-size: 20px;
	}

	a {
		@include transition(all, 0.3s, ease);

		&:link,
		&:active {
			color: $color-link;
		}

		&:visited {
			color: $color-linkvisited;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}  
	}

	time {
		margin: 0;
		color: lighten($color-dark, 30%);
		display: block;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

div.more {
	clear: both;
	text-align: center;
	border: 0;
	font-size: 0.7em;

	.icon-hyperlink:before {
		content: "\e603";
	}

	a {
		display: inline-block;
		background-color: $color-link;
		color: #fff;
		text-decoration: none;
		padding: 7px 10px;
		@include border-radius(5px);
		@include transition(all, 0.3s, ease);
	}

	a:hover,
	a:focus {
		background-color: $color-linkvisited;
	}
}

.highlight pre {
	background-color: lighten($color-dark, 45%);
	@include border-radius(5px);
	padding: $gutter-width / 2;
	margin-bottom: $gutter-width;
	font-size: 14px;
	overflow-x: auto;
}

section {
	clear: both;
	margin: 0;

	.container {
		margin: 0 auto;
		@media screen and (min-width: $break-small) and (max-width: $break-large) {
			width: $width-small;
		}

		@media screen and (min-width: $break-large) {
			width: $width-large;
		}
	}
}

header#overview {
	margin-bottom: $gutter-width * 3;
	text-align: center;
	background: url(../img/city.png) no-repeat 0 50%;
	background-size: cover;
	color: #fff;
	padding: ($gutter-width * 2) 0;

	h1 {
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: 45px;
		line-height: 1;
		letter-spacing: -2px;
		text-transform: uppercase;
		margin: $gutter-width auto;
		text-shadow: 0 0 5px darken(#fff, 30%);

		span {
			display: block;
			font-size: 20px;
			font-weight: 300;
			font-family: $font-stack;
			text-transform: uppercase;
			text-shadow: none;
			padding: ($gutter-width) 0;
		}
	}

	p {
		font-size: 20px;
		border: 0 solid #fff;
		border-width: 1px 0;
		padding: ($gutter-width) 0;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 1.5;

		a {
			color: lighten($color-link, 25%);
			text-decoration: none;
			border-bottom: 1px solid lighten($color-link, 25%);

			&:hover,
			&:focus {
				color: lighten($color-link, 15%);
				border-bottom: 1px solid lighten($color-link, 15%);
			}
		}
	}

	@media screen and (min-width: $break-small) {
		h1 {
			width: ($column-width * 4 + $gutter-width * 3);
			letter-spacing: 3px;
		}

		p {
			width: ($column-width * 4 + $gutter-width * 3);
			font-size: 22px;
			margin: 0 auto;
		}
	}

	div#socialmedia {
		margin-top: $gutter-width * 2;
		div.media-item {
			display: inline-block;
			position: relative;
			margin-right: $gutter-width / 5;
			width: 32px;
			text-align: center;

			a:link,
			a:visited {
				background: transparent no-repeat 50% 50%;
				height: 32px;
				width: 32px;
				display: block;
				overflow: hidden;
				margin: 0;
				color: #fff;
				-webkit-transition: color 0.5s;
	    		transition: color 0.3s;
	    		text-decoration: none;
			}

			a:hover,
			a:active,
			a:focus {
				color: $color-linkvisited;
			}

			[class^="icon-"], [class*=" icon-"] {
				font-size: 32px;
			}

			.icon-twitter:before {
				content: "\e600";
			}
			.icon-mail:before {
				content: "\e601";
			}
			.icon-github:before {
				content: "\e602";
			}
		}
	}
}

section {
	margin-bottom: $gutter-width * 3;

	h2 {
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0 auto ($gutter-width / 2) auto;
		padding: 0 15px;
		
		color: darken($color-dark, 10%);
	}

	h3 {
		line-height: 1;
		margin: 0;
		font-weight: 400;
		font-size: 35px;
	}

	&.content {
		padding: 0 15px;

		h3 {
			color: $color-red;

			a:link,
			a:visited,
			a:active {
				color: $color-red;
				text-decoration: none;
			}

			a:hover,
			a:focus {
				color: darken($color-red, 10%);
			}
		}

		h4 {
			margin-bottom: $gutter-width / 4;
		}

		article {
			margin-bottom: $gutter-width * 4;
		}

		@media screen and (min-width: $break-small) {
			h2, h3, h4, p, time, div.more {
				margin-left: auto;
				margin-right: auto;
				width: $width-small;
			}
		}
	}
}

section#news {
	article div.more {
		text-align: left;
	}

	.current {
		margin: 0 ($gutter-width / 2) ($gutter-width * 2) ($gutter-width / 2);
		padding-bottom: ($gutter-width * 2);
		border-bottom: 1px dotted $color-dark;

		@media screen and (min-width: $break-small) {
			width: $width-small;
		}

		h3 {
			a:link,
			a:visited {
				color: $color-red;
				text-decoration: none;
			}

			a:hover,
			a:focus {
				color: darken($color-red, 10%);
			}
		}
	}

	ul {
		@media screen and (min-width: $break-small) {
			-moz-column-count: 2;
			-moz-column-gap: $gutter-width;
			-webkit-column-count: 2;
			-webkit-column-gap: $gutter-width;
			column-count: 2;
			column-gap: $gutter-width;

			li {
				display:inline-block;
			}
		}

		padding: 0 ($gutter-width/2);
		margin: 0 0 ($gutter-width * 2) 0;

		li {
			padding: 0;
			margin: 0 0 ($gutter-width/2) 0;
			list-style: none;

			a {
				font-weight: 400;
				text-decoration: none;
				color: $color-dark;

				&:hover,
				&:focus {
					text-decoration: hover;
					color: $color-linkvisited;
				}
			}
		}
	}
}

section#projects {
	div.item {
		background: no-repeat 50% 50%;
		background-size: cover;
		padding: ($gutter-width * 8) 0 0 0;
		margin-bottom: $gutter-width;
		color: #fff;

		div.container {
			background-color: rgba(0, 0, 0, 0.6);
			padding: $gutter-width;
		}

		div.more {
			text-align: left;

			a {
				border: 2px solid #fff;
				background-color: transparent;	
			}

			a:hover,
			a:focus {
				color: darken(#fff, 30%);
				border-color: darken(#fff, 30%);
			}
		}

		&#geokey {
			background-image: url(../img/city.png);
		}

		&#osmatrix {
			background-image: url(../img/osmatrix_big.png);
		}

		&#openrouteservice {
			background-image: url(../img/openrouteservice_big.png);
		}

		&#lightmap {
			background-image: url(../img/lightmap_big.png);
		}

		&#wheredoyougo {
			background-image: url(../img/wheredoyougo_big.png);
		}
	}
}

footer {
	clear: both;
	margin: $gutter-width * 4 auto 0 auto;
	padding: ($gutter-width / 2) 0;
	color: lighten($color-dark, 20%);
	font-size: 14px;
	text-align: right;
	border-top: 1px solid lighten($color-dark, 20%);

	p {
		margin: 0 auto;
		@media screen and (min-width: $break-small) and (max-width: $break-large) {
			width: $width-small;
		}

		@media screen and (min-width: $break-large) {
			width: $width-large;
		}
	}
}
