---
layout: default
title: Oliver Roick
body_id: home
---
    <!--
    #
    # News
    #
    -->

    <header>
        <h1>Oliver Roick</h1>
        
        <p>I build software that puts people on the map. I work at <a href="http://cadasta.org/">Cadasta Foundation</a>. Most of my work is available on <a href="https://github.com/oliverroick">GitHub</a>.</p>
    </header>

    <section>
        <h2>Recently</h2>

        <article>
            <time datetime="{{ site.posts.first.date | date_to_xmlschema }}" itemprop="published">{{ site.posts.first.date | date_to_long_string }}</time>
            <h3><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h3>
            {% if site.posts.first.category != 'news' %}
                <p>{{ site.posts.first.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                <div class="more">
                    <a href="{{ site.posts.first.url }}"><span class="icon-hyperlink"></span> Read full post</a>
                </div>
            {% else %}
                {{ site.posts.first.content }}
            {% endif %}
        </article>

        <ul class="news-list">
            {% for post in site.posts limit:7 %}
            {% if forloop.index0 > 0 %}
                <li>
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="published">{{ post.date | date_to_long_string }}</time>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        <div class="more">
            <a href="/recently">Find previous news in the archive</a>
        </div>
    </section>

    <!--
    #
    # CODING
    #
    -->
    <section class="projects">
        <h2>Projects I contributed to</h2>

        <article>
            <h3><a href="http://cadasta.org/platform/">Cadasta</a></h3>
            <p>Cadasta platform is a set of tools collect, manage and store on land and property rights on the web.</p>

            <ul class="links">
                <li><a href="http://cadasta.org/platform/">Project web site</a></li>
                <li><a href="https://github.com/Cadasta/cadasta-platform">GitHub repository</a></li>
            </ul>
        </article>

        <article>
            <h3><a href="http://geokey.org.uk">GeoKey</a></h3>
            <p>GeoKey is a platform for participatory mapping. I developed GeoKey during my time at <a href="https://www.ucl.ac.uk/excites">UCL ExCiteS</a>, who have taken over development since my departure in October 2015.</p>

            <ul class="links">
                <li><a href="http://geokey.org.uk/">Project web site</a></li>
                <li><a href="https://github.com/ExCiteS/geokey">GitHub repository</a></li>
            </ul>
        </article>

        <article>
            <h3><a href="https://github.com/oliverroick/Leaflet.Deflate">Leaflet.Deflate</a></h3>
            <p>Leaflet.Deflate is a plugin for the web mapping library <a href="http://leafletjs.com/">Leaflet</a> that converts features in low zoom levels to markers if they become too small to be visible and vice versa.</p>
            <ul class="links">
                <li><a href="/code/2015/leaflet-deflate.html">Blog post</a></li>
                <li><a href="https://github.com/oliverroick/Leaflet.Deflate">GitHub repository</a></li>
            </ul>
        </article>

        <article>
            <h3><a href="https://github.com/oliverroick/django-skivvy">Django Skivvy</a></h3>
            <p>Django Skivvy is a helper library that helps you write faster integration tests for Django views with less code.</p>
            <ul class="links">
                <li><a href="/code/2015/speeding-up-django-tests.html">Blog post outlining the idea</a></li>
                <li><a href="https://github.com/oliverroick/django-skivvy">GitHub repository</a></li>
                <li><a href="https://oliverroick.de/django-skivvy/">Documentation</a></li>
            </ul>
        </article>

        <h3>Other projects &amp; experiments</h3>
        <article>
            <ul>
                <li><a href="http://mapschool.io/">mapschool</a>  (German translation)</li>
                <li><a href="http://openrouteservice.org/">OpenRouteService</a></li>
                <li><a href="http://koenigstuhl.geog.uni-heidelberg.de/osmatrix/">OSMatrix</a></li>
                <li><a href="http://lightmap.uni-hd.de/">Lightmap</a></li>
                <li><a href="http://oliverroick.de/wheredoyougo/">Where do you go</a></li>
            </ul>
        </article>
    </section>
