[build]
  command = "make build"

[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

[[plugins]]
  package = "netlify-plugin-minify-html"

  [plugins.inputs.minifierOptions]
    removeComments = true
    collapseInlineTagWhitespace = false
    removeOptionalTags = false

[[plugins]]
  package = "netlify-plugin-html-validate"

  [plugins.inputs]
    ext = "html"
    config = ".htmlvalidate.json"

[[plugins]]
  package = "netlify-plugin-inline-critical-css"

  # All inputs are optional, so you can omit this section.
  # Defaults are shown below.
  # You can also refer to `critical`’s documentation: https://github.com/addyosmani/critical.
  [plugins.inputs]
    # Whether to minify the generated critical-path CSS.
    minify = true

    # Whether to remove the inlined styles from any stylesheets referenced in the HTML. Use with caution. Removing the critical CSS per page results in a unique async loaded CSS file for every page, meaning you can’t rely on cache across multiple pages.
    extract = false

    # An array of objects containing `width` and `height` to deliver critical CSS for multiple screen resolutions.
    [[plugins.inputs.dimensions]]
      width = 414
      height = 896
    [[plugins.inputs.dimensions]]
      width = 1920
      height = 1080

[[redirects]]
  from = "/wheredoyougo"
  to = "https://oliverroick.github.io/wheredoyougo/"
  status = 301

[[redirects]]
  from = "/django-skivvy"
  to = "https://oliverroick.github.io/django-skivvy/"
  status = 301

[[redirects]]
  from = "https://oliverroick.de/*"
  to = "https://oliverroick.net/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/thoughts/*"
  to = "/writing/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/code/*"
  to = "/writing/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/conferences/*"
  to = "/writing/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/talks/*"
  to = "/writing/:splat"
  status = 301
  force = true
