---
layout: default
title: Oliver Roick | Reading
body_id: reading
---

<section>
    <h1>Finished Books</h1>
    <ul class="archive">
    {% for book in site.reading %}
        {% if book.read %}
        <li class="grid">
            <span class="author">{{book.author }}</span>
            <span class="title">{{ book.title }}</span>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</section>
<section>
    <h1>Reading List</h1>
    <ul class="archive">
    {% for book in site.reading %}
        {% if book.read == false %}
        <li class="grid">
            <span class="author">{{book.author }}</span>
            <span class="title">{{ book.title }}</span>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</section>
