---
layout: blog
title: Oliver Roick | News
---

		<section class="content" id="news">
			{% for post in site.posts %}
			<article class="container">
				<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="published">{{ post.date | date_to_long_string }}</time>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

				{% if post.category != 'news' %}
					<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
					<div class="more">
						<a href="{{ post.url }}"><span class="icon-hyperlink"></span> Read full post</a>
					</div>
				{% else %}
					{{ post.excerpt }}
				{% endif %}
			</article>
			{% endfor %}
		</section>
