---
layout: sub
title: Oliver Roick | News
---

		<section class="content" id="news">

			{% for post in site.posts %}
			<article>
				<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="published">{{ post.date | date_to_long_string }}</time>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				
				{{ post.excerpt }}
				{% if post.category != 'news' %}
					<p class="excerpt-link"><a href="{{ post.url }}">Read more</a></p>
				{% endif %}
			</article>
			{% endfor %}
		</section>