<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Oliver Roick</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    {% endif %}
    {% if page.category %}
    <meta property="og:image" content="{{ site.url }}/img/socialmedia/{{ page.category }}.png">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
    <meta content="oliver.roick@gmail.com" property="og:email">
    <meta content="oliverroick.de" property="og:site_name">
    <meta content="blog" property="og:type">
    <meta name="author" content="Oliver Roick">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/roick.css">
    <link href="{{ site.url }}/atom.xml" rel="alternate" type="application/atom+xml">
    <link href="{{ site.url }}/rss.xml" rel="alternate" type="application/rss+xml">
    <link href="{{ site.url }}{{ page.url }}" rel="canonical">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body{% if page.body_id %} id="{{ page.body_id }}"{% endif %}>
    <header>
        <h1><a href="/">Oliver Roick</a></h1>
        <nav>
            <ul>
               <li id="li_writing"><a href="/writing.html">Writing</a></li>
               <li id="li_work"><a href="/work.html">Work</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="grid">
            <h2>About</h2>
            <div id="left">
                <p>I build software. Most of my work is available on <a href="https://github.com/oliverroick">GitHub</a>. Contact me via email: <a href="mailto:oliver.roick@gmail.com">oliver.roick@gmail.com</a>. Subscribe to this blog with <a href="/atom.xml" rel="alternate" type="application/atom+xml">Atom</a> or <a href="/rss.xml" rel="alternate" type="application/rss+xml">RSS</a>.</p>
            </div>
        </div>
    </footer>
</body>

</html>
