---
layout: default
---
<article itemscope itemtype ="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    {% if page.alternate %}<p class="article__alternate_title">{{ page.alternate }}</p>{% endif %}
    <div itemprop="articleBody">
        {{ content | replace: '=====', '' }}
    </div>
    <div class="article__meta">
        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
    </div>
</article>
