/*
 * RESET
 *
 *
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 /*
 * STYLES
 *
 *
 */
 @viewport {
   width: device-width;
 }


 :root {
   --f-serif: Georgia, Times, "Times New Roman", serif;
   --f-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   --f-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

   --f-sm: 0.8rem;
   --f-m: .915rem;
   --f-l: 1.25rem;
   --f-xl: 1.563rem;

   --dark-50: rgb(249, 249, 249);
   --dark-100: rgb(242, 242, 243);
   --dark-200: rgb(224, 224, 226);
   --dark-300: rgb(201, 201, 204);
   --dark-400: rgb(164, 164, 169);
   --dark-500: rgb(141, 141, 147);
   --dark-600: rgb(99, 99, 105);
   --dark-700: rgb(99, 99, 105);
   --dark-800: rgb(75, 75, 79);
   --dark-900: rgb(57, 57, 60);

   --sky-700: #0369a1;
   --sky-800: #075985;
   --sky-900: #0c4a6e;
   --sky-950: #082f49;

   --portfolio: #db2777;
   --writing: #0d9488;

   --yellow-50: #fefce8;
   --yellow-100: #fef9c3;
   --yellow-200: #fef08a;
   --yellow-300: #fde047;
   --yellow-400: #facc15;
   --yellow-500: #f59e0b;

   --green: #15803d;

   font-kerning: normal;
   font-variant-ligatures: common-ligatures contextual;
   font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
   font-size: 1rem;

   --border-color: var(--dark-50);
 }

 body {
   font-family: var(--f-sans);
   line-height: 1.5;
   color: var(--dark-900);
   background-color: var(--dark-50);
   padding: 0;
   margin: 0;
 }

 .sr-only {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   padding: 0 !important;
   margin: -1px !important;
   overflow: hidden !important;
   clip: rect(0, 0, 0, 0) !important;
   white-space: nowrap !important;
   border: 0 !important;
 }

 a.skip-link {
   display: block;
   padding: 0.5rem;
   position: absolute;
   left: 0;
   right: 0;
   top: -100rem;
 }

 a.skip-link:focus {
   top: 0;
   border-bottom-width: 5px;
 }

 time,
 .time {
  font-weight: 500;
  color: var(--dark-500);
  display: block;
  font-size: var(--f-sm);
  text-transform: uppercase;
  letter-spacing: 1px;
}

 /*
  * PAGE LAYOUT
  *
  *
  */

div.page {
  margin: 2rem;
}

header {
  letter-spacing: 1px;

  span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 0;
  }

  nav {
    font-weight: 500;

    ul {
      display: flex;
      gap: 2rem;

      li {
        a {
          font-size: var(--f-sm);
          text-decoration: none;
          text-transform: uppercase;
          padding-bottom: .1rem;

          &[aria-current="true"] {
            border-bottom: 3px solid var(--dark-900);
          }

          &:any-link {
            color: var(--dark-900);
          }

          &:hover {
            border-bottom: 3px solid var(--yellow-400);
          }
        }
      }
    }
  }
}

section.lead {
  margin: 5rem 0;
  max-width: 40rem;

  .big {
    font-size: var(--f-xl);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
}

section.post-list {
  ul {
    columns: 20rem auto;
    column-gap: 2rem;

    li {
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1.5rem 1fr;
      page-break-inside: avoid;
      break-inside: avoid;

      a {
        &:any-link {
          color: var(--dark-900);
          text-decoration: none;
          font-weight: bold;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  h2, p, ul, ol {
    max-width: 40rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }

  h2 {
    font-size: var(--f-l);
    font-weight: 500;
    margin-top: 2rem;
  }

  ul, ol {
    padding-left: 2rem;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  li {
    margin-bottom: .25rem;
  }

  ul.publications li {
    padding-left: 1rem;
    text-indent: -2rem;
    list-style-type: none;
  }

  .authors {
    text-transform: uppercase;
  }

  b {
    font-weight: bold;
  }

  pre {
    padding-left: 3rem;
  }

  code {
    font-family: var(--f-mono);
    font-size: var(--f-m);
    color: var(--dark-800);
    text-decoration-line: underline;
    text-decoration-color: var(--yellow-400);
  }

  pre > code {
    text-decoration: none;
    line-height: 1;
  }

  hr {
    border: 0;
  }

  hr:after {
    content: "—";
    display: block;
    position: relative;
    color: var(--dark-500);
    margin-top: var(--margin-15);
  }

  img {
    width: 100%;
    max-width: 60rem;
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
}
