:root {
  /* Fonts */
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif: Georgia, "Century Schoolbook", "Times New Roman", Times, serif;
  --mono: monaco, Consolas, monospace;

  /* Colours */
  --dark-100: #F5F5F5;
  --dark-200: #CDCBCB;
  --dark-300: #AEADAD;
  --dark-400: #A4A2A2;
  --dark-500: #868383;
  --dark-600: #797676;
  --dark-700: #5D5B5B;
  --dark-800: #2b2a2a;
  --dark-900: #151414;

  --blue-100: #E3EEFF;
  --blue-300: #ABC0E2;
  --blue-500: #7292C5;
  --blue-700: #3964A8;
  --blue-900: #00358B;

  --red-100: #FFE2E2;
  --red-300: #E2AAAA;
  --red-500: #C57171;
  --red-700: #A83939;
  --red-900: #8B0000;

  --yellow-100: #FFF8DA;
  --yellow-300: #FFEFAC;
  --yellow-500: #FFE57D;
  --yellow-700: #FFD93F;
  --yellow-900: #FFCC00;

  --white: rgb(255, 255, 255);

  /* Sizing */
  --base-size: 14px;
  --font-l: calc(var(--base-size) * 2);
  --font-m: 16px;
  --font-s: 12px;
  --max-width: calc(var(--base-size) * 35);
  --gap-xs: calc(var(--base-size) * 0.5);
  --gap-s: var(--base-size);
  --gap-m: calc(var(--base-size) * 2);
  --gap-l: calc(var(--base-size) * 4);
  --gap-xl: calc(var(--base-size) * 8);
  --border-size: calc(var(--base-size) / 4);
  --mono-font-size: calc(var(--base-size));
}

body {
  background-color: var(--white);
  color: var(--dark-800);
  font-family: var(--sans-serif);
  font-size: var(--base-size);
  line-height: 1.7;
  margin: 0;
}

main, header {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 var(--gap-m);
}

a {
  color: var(--blue-900);
}

a:visited {
  color: var(--blue-800);
}

a:hover {
  text-decoration: none;
}

a:focus {
  color: var(--dark-800);
  background-color: var(--yellow-900);
  text-decoration: none;
  border-bottom: var(--border-size) solid var(--dark-800);
  outline: none;
}

h1, h2.h1 {
  font-family: var(--sans-serif);
  font-size: var(--font-l);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: var(--gap-m);
}

h2:not(.h1), h3 {
  font-family: var(--sans-serif);
  font-weight: 500;
  margin-bottom: var(--gap-xs);
  padding: calc(1em * .25) 0;
  line-height: 1.3;
}

h2:not(.h1) + p, h3 + p {
  margin-top: 0;
}

li {
  margin-bottom: var(--gap-xs);
}

li:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  padding-left: .5rem;
}

blockquote {
  border-left: 1px solid var(--dark-200);
  padding: 0 var(--gap-s);
  margin-left: var(--gap-xs);
  margin-right: var(--gap-xs);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

time {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-s);
  font-family: var(--sans-serif);
  color: var(--grey);
  display: block;
}

pre {
  border-left: var(--border-size) solid var(--yellow-300);
  padding-left: var(--gap-s);
}

code {
  font-family: var(--mono);
  font-size: var(--mono-font-size);
  color: var(--dark-800);
  text-decoration-line: underline;
  text-decoration-color: var(--yellow-300);
}

pre > code {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
}

hr:after {
  content: "* * *";
  display: block;
  position: relative;
  text-align: center;
  color: var(--dark-800);
  margin: var(--gap-s) 0;
}

figure {
  margin: 0;
}

table {
  border-spacing: 0;
  margin-bottom: var(--gap-s);
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: calc(var(--base-size) * .9);
}

caption {
  font-size: var(--font-s);
  font-weight: bold;
  color: var(--dark-700);
  text-align: left;
  margin-bottom: var(--gap-xs);
}

th {
  border-bottom: 2px solid var(--dark-400);
  border-left: 1px solid var(--dark-400);
}

tfoot td {
  border-top: 2px solid var(--dark-400);
}

tr:nth-child(2n) {
  background-color: var(--dark-100);
}

th:first-child {
  border-left: none;
}

td {
  border-top: 1px solid var(--dark-400);
  border-left: 1px solid var(--dark-400);
}

td:first-child {
  border-left: none;
}

th,
td {
  padding: var(--gap-xs) var(--gap-s);
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* HEADER */

a.skip-link {
  display: block;
  font-family: var(--sans-serif);
  padding: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: -100rem;
}

a.skip-link:focus {
  top: 0;
  border-bottom-width: 5px;
}

header {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-xl);
  font-weight: 700;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap-m);
}

@media (min-width: 450px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
}

header span#name {
  background-color: var(--yellow-900);
  padding: var(--gap-xs) var(--gap-s);
  align-self: start;
  justify-self: start;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header a,
header a:visited {
  line-height: 2.5;
  text-decoration: none;
}

header a:hover {
  border-bottom: var(--border-size) solid var(--yellow-700);
}

header a:focus {
  border-bottom: var(--border-size) solid var(--dark-800);
}

header nav a,
header nav a:visited {
  color: var(--blue-900);
}

body#writing header li#li_writing > a:link,
body#blog header li#li_writing > a:link,
body#work header li#li_work > a:link,
body#links header li#li_links > a:link,
body#about header li#li_about > a:link,
body#writing header li#li_writing > a:visited,
body#blog header li#li_writing > a:visited,
body#work header li#li_work > a:visited,
body#links header li#li_links > a:visited,
body#about header li#li_about > a:visited {
  border-bottom: var(--border-size) solid var(--yellow-300);
}

body#writing header li#li_writing > a:focus,
body#blog header li#li_writing > a:focus,
body#work header li#li_work > a:focus,
body#about header li#li_about > a:focus {
  border-bottom-color: var(--dark-900);
}

/* FOOTER */

.page {
  min-height: calc(100vh - var(--gap-xl) - var(--border-size) - var(--gap-s) - var(--gap-m));
}

.footer {
  height: var(--gap-s);
  background-color: var(--dark-800);
  border-top: var(--border-size) solid var(--yellow-500);
  margin-top: var(--gap-xl);
}


/* SPECIAL */

article:not(:last-child) {
  margin-bottom: var(--gap-xl);
}

article.link h1,
article.link h2.h1 {
  font-size: var(--font-m);
  margin-bottom: var(--gap-xs);
}

article:not(.link) h1 > a,
article:not(.link) h2.h1 > a {
  color: var(--dark);
  text-decoration: none;
}

article:not(.link) h1 > a:hover,
article:not(.link) h2.h1 > a:hover {
  color: var(--dark-700);
}

article:not(.link) h1 > a:focus,
article:not(.link) h2.h1 > a:focus {
  color: var(--dark-800);
}

.article__alternate_title,
.article__book_authors {
  font-family: var(--sans-serif);
  margin-bottom: var(--gap-m);
  margin-top: calc(-1 * var(--gap-m));
}

.article__update {
  padding: 0 var(--gap-s);
  border: 1px solid var(--yellow-900);
  border-width: 1px 0;
  background-color: var(--yellow-100);
}

.article__update b {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h2.h2__article__book_details {
  font-size: var(--font-m);
  margin-bottom: var(--gap-xs);
  margin-top: var(--gap-m);
}

.article__meta {
  margin-top: var(--gap-m);
}

.article__meta time {
  display: inline;
}

.article__meta a {
  text-decoration: none;
  margin-left: var(--gap-xs);
  color: var(--dark-800);
}

.footnotes {
  font-size: var(--font-s);
}

.footnotes:before {
  content: "⎯";
  display: block;
  color: var(--dark-800);
  font-size: 1rem;
}

.footnotes ol {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.footnotes ol li {
  list-style-position: inside;
}

.footnotes li p {
  margin: 0;
  display: inline;
}

.publications ul {
  padding: 0;
}

.publications ul li {
  text-indent: calc(var(--gap-m) * -1);
  padding-left: var(--gap-m);
  list-style: none;
}

.authors {
  font-variant: small-caps;
}

table.db {
  font-family: var(--mono);
  font-size: var(--mono-font-size);
}

table.db tr {
  background-color: #fff;
}

table.db .pk {
  background-color: var(--dark-200);
}

table.db .sk {
  background-color: var(--dark-100);
}

.highlight { overflow-x: auto; line-height: 1.5;}
.highlight .err { color: var(--red-900); background-color: var(--yellow-500) } /* Error */
.highlight .na { color: var(--blue-700) }
.highlight .s { color: var(--red-900) }
.highlight .s1 { color: var(--red-900) }
.highlight .s2 { color: var(--red-900) }
.highlight .dl { color: var(--red-900) }
.highlight .nv { color: var(--red-900) }
.highlight .nt { color: var(--blue-900) }
.highlight .nc { color: var(--blue-900) }
.highlight .nl { color: var(--blue-900) }
.highlight .nx { color: var(--blue-900) }
.highlight .nb { color: var(--blue-900) }
.highlight .n { color: var(--blue-700) }
.highlight .bp { color: var(--blue-900) }
.highlight .k { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .c1 { color: var(--dark-600); }
.highlight .mi { color: green }
.highlight .mf { color: green }
