---
layout: default
title: page.title
---
	<header id="overview">
        <h1><a href="/">Oliver Roick</a>
            {% if page.category == 'code' %}
            <span>Code</span>
            {% elsif page.category == 'thoughts' %}
            <span>Thoughts</span>
            {% elsif page.category == 'talks' %}
            <span>Talks &amp; Presentations</span>
            {% elsif page.category == 'conferences' %}
            <span>Conferences</span>
            {% else %}
            <span>Recently</span>
            {% endif %}
        </h1>
    </header>

	{{ content }}
