<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Personal website of Oliver Roick, Senior Developer at Extreme Citizen Science Reseacrh Group, University College London">
	<meta name="author" content="Oliver Roick">
  
	<link rel="stylesheet" href="/build/css/global.css"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="container">
		{% include news-header.html %}

		{{ content }}

		{% include footer.html %}
	</div>
</body>
</html>