<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Personal website of Oliver Roick, Senior Developer at Extreme Citizen Science Reseacrh Group, University College London">
    <meta name="author" content="Oliver Roick">
  
    <link rel="stylesheet" href="/build/css/global.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="container">
        <section id="overview">
            <h1>Oliver Roick <span>Talks &amp; Presentations</span></h1>
        </section>

        <section class="content" id="talks">
            <article>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="published">{{ page.date | date_to_long_string }}</time>
                <h3>{{ page.title }}</h3>
                
                {{ content }}
            </article>
        </section>

        {% include footer.html %}
    </div>
</body>
</html>