---
layout: default
title: Home
body_id: home
description: The blog and work of Oliver Roick 
num_posts: 3
---

<h1 class="sr-only">Oliver Roick Homepage</h1>
{% for post in site.posts limit:page.num_posts %}
<article class="{{ post.layout }}">
    <h2 class="h1">
        {% if post.layout == 'link' %}
            <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
    </h2>
    {% if post.author %}<p class="article__book_authors">by {{ post.author }}</p>{% endif %}
    {% if post.alternate %}<p class="article__alternate_title">{{ post.alternate }}</p>{% endif %}
    {{ post.content
        | replace: '=====', ''
        | replace: '<h2', '<h3 class="h2"'
        | replace: '</h2>', '</h3>'
    }}
    <div class="article__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
        <a href="{{ post.url }}" class="link__permalink" title="Permalink for {{ post.title }}">◆</a>
    </div>
</article>
{% endfor %}
