---
layout: default
title: Home
body_id: home
description: The blog and work of Oliver Roick 
num_posts: 5
---

<h1 class="sr-only">Oliver Roick Homepage</h1>
{% for post in site.posts limit:page.num_posts %}
{% if post.layout == 'link' %}
    {% continue %}
{% endif %}
<article class="{{ post.layout }}">
    <h2 class="h1">
        {% if post.layout == 'link' %}
            <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
    </h2>
    {% if post.layout == 'post' or post.layout == 'reading'  %}
    {% if post.description %}<p class="article_lead">{{ post.description }}</p>{% endif %}
    <div class="article__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
    </div>
    {% endif %}
    {{ post.content
        | replace: '=====', ''
        | replace: '<h2', '<h3 class="h2"'
        | replace: '</h2>', '</h3>'
    }}
    {% if post.layout != 'post' and post.layout != 'reading' %}
    <div class="article__meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
        <a href="{{ post.url }}" class="link__permalink" title="Permalink for {{ post.title }}">◆</a>
    </div>
    {% endif %}
</article>
{% endfor %}
