---
layout: default
title: Portfolio
description: Assorted output; for fun and profit.
---

<div class="main">
  <section class="lead">
    <h1 class="big">Portfolio</h1>
    <p>
      Assorted output; for fun and profit.
    </p>
  </section>

  <section class="post-list">
    <ul>
      {% for project in site.posts %}
      {% if project.layout != 'portfolio' %}
      {% continue %}
      {% endif %}
      <li>
        <div aria-label="Portfolio">&#8984;</div>
        <div>
          <p><a href="{{ project.url }}">{{ project.title }}</a></p>
          <p>{{ project.description }}</p>
          <p class="time">{{ project.dates }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
