---
layout: default
title: Writing
description: A list of all articles posted to Oliver Roick's blog.
---

<div class="main">
  <section class="lead">
    <h1 class="big">Writing</h1>
    <p>
      Thinking out loud, book reviews and announcements.
    </p>
  </section>
  <section class="post-list">
    <ul>
      {% for post in site.posts %}
      {% if post.category != 'writing' %}
      {% continue %}
      {% endif %}
      <li>
        <div aria-label="Writing">&para;</div>
        <div>
          <p><a href="{{ post.url }}">{{ post.title }}</a></p>
          {% if post.description %}<p>{{ post.description }}</p>{% endif %}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
